# Copyright (c) 2026 The ZMK Contributors
# SPDX-License-Identifier: MIT

if SHIELD_NOVA42_LEFT

config ZMK_KEYBOARD_NAME
    default "Nova42"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_NOVA42_LEFT || SHIELD_NOVA42_RIGHT

config ZMK_SPLIT
    default y

endif
